<nav class="navbar">
    <div class="navbar-content-wrapper">

        <!-- LOGO -->
        <a href="index.html" class="logo">
            <img id="navbar-logo" src="assets/img/hamburguer.png" alt="Logo">
        </a>

        <!-- AÇÕES -->
        <div class="header-actions">

            <a href="cardapio.html" class="home-btn">
                <i class="fas fa-home"></i>
            </a>

            <button id="carrinho-btn" class="carrinho-btn">
                <i class="fas fa-shopping-cart"></i>
                <span id="contador-carrinho">0</span>
            </button>

        </div>

    </div>
</nav>
