<nav class="navbar">
    <div class="navbar-content-wrapper">
        <a href="index.html" class="logo">
            <img id="navbar-logo" src="assets/img/hamburguer.png" alt="Logo">
        </a>
        <ul class="nav-links">
            <li><a href="index.html">Início</a></li>
            <li><a href="#hamburgueres-artesanais" class="nav-ancora">Hambúrgueres</a></li>
            <li><a href="#combos-e-familia" class="nav-ancora">Combos</a></li>
            <li><a href="#acompanhamentos" class="nav-ancora">Acompanhamentos</a></li>
            <li><a href="#bebidas" class="nav-ancora">Bebidas</a></li>
        </ul>
        <div class="header-actions">
            <button id="carrinho-btn" class="carrinho-btn">
                <i class="fas fa-shopping-cart"></i>
                <span id="contador-carrinho">0</span>
            </button>
            <button id="hamburger-menu-btn" class="hamburger-menu-btn">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>
</nav>